  <div class="card-car col-2">
  <%= link_to car_path(car.id) do %>
    <% if car.photo.present? %>
    <% photo = car.photo %>
    <% else %>
    <% photo = 'https://i.blogs.es/51f79e/ferrari-f40-tribute-2019-recreacion-201851849_2/1366_2000.jpg' %>
    <% end %>
    <img class="card-car-img" src='<%=photo%>' />
    <div class="card-car-infos">
        <div>
          <h2><%=car.brand%> <%=car.model%></h2>
          <p><%=car.location%></p>
        </div>
      <h2 class="card-car-pricing">$<%= car.price %>/day</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-car-user avatar-bordered" />
    </div>
  <% end %>
</div>
