<div class="new-car-background">
  <div class="page-container">

    <div class="container__form">
      <div class="booking_title">
        <%="Confirm your booking"%>
      </div>
      <div class="title-h3">
        <%= @user.first_name %> please select the dates you would like to hire <%=@car.brand%> <%=@car.model%> for:
      </div>
      <div>
        <%= simple_form_for [@car, @booking], url: car_booking_index_path do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit "Book this car", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
