<h2>Please confirm your booking of <%=@car.brand%> <%=@car.model%></h2>
<div>
  <%= simple_form_for [@car, @booking], url: car_booking_index_path do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Book this car", class: "btn btn-primary" %>
  <% end %>
</div>
