<div class="page-container">

  <div class="background-image" style="background-image: url('https://thedriven.io/wp-content/uploads/2019/11/tesla-model-3-rhd.jpg');">

    <h2 id="main-title">Enter your car details</h2>
      <div class="form-inputs form-custom">
        <%= simple_form_for(@car) do |f| %>
          <%= f.input :brand %>
          <%= f.input :model %>
          <%= f.input :engine_type, collection: Car::ENGINE_TYPES %>
          <%= f.input :price %>
          <%= f.input :location %>
          <%= f.button :submit, class: "btn-primary" %>
      <%end%>
     </div>
  </div>
</div>
