<h2>Please enter details of the car you wish to post</h2>
<div>
  <%= simple_form_for [@car] do |f| %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :engine_type, collection: Car::ENGINE_TYPES %>
    <%= f.input :price %>
    <%= f.input :location %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "add car", class: "btn btn-primary", method: :post %>
  <% end %>
</div>
