<div class="page-container">
  <div class="name-location">
    <p id="first-line"><%= "#{@car.brand.capitalize} #{@car.model}" %></p>
    <p id="second-line"><%= "4.9 #{"⭐️" * 1 } #{@car.location.capitalize}" %></p>
  </div>
  <div class="car-container">
    <div class="car-photo" style="background-image: url('<%= @car.photo %>');"></div>
  </div>
  <div class="price-book">
    <p id="price"><%= "from #{@car.price}€/day" %></p>
    <p id="dates">3Dec - 10Dec</p>
    <p id="service-fee">Service fee: 10%</p>
    <h3 id="book_car"> <%= link_to "Book this car", new_car_booking_path(@car) %>  </h3>
  </div>
  <div class="specifications">
    <div class="overview-container">
      <p class="first-line"></p>
      <p class="overview active">Overview</p>
      <p class="reviews">Reviews</p>
      <p class="line"></p>
    </div>
    <div class="overview-text">
      <p><%= "Engine type: #{@car.engine_type}" %></p>
      <p><%= "Description: #{@car.description}" %></p>
    </div>
    <div class="reviews-container hidden">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, illum.</p>
    </div>
  </div>
</div>



